@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

.cart {
  background-color: @nice-blue;
}

.cart-product-title {
  margin: auto;
  min-height: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.cart-product-price {
  margin: auto;
  color: @nice-blue;
  font-size: x-large;
  min-height: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.cart-item-quantity {
  margin: auto;
  color: @nice-blue;
  font-size: x-large;
  min-height: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.cart-product-name {
  background-color: @nice-blue;
}

.cart-product-description {
  min-height: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
}

.cart-product-attributes {
  min-height: 30px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 0px;

}

.cart-price-col {
  min-width: 100px;
  min-height: 30px;

}

.cart-quantity-col {
  min-width: 60px;
  max-width: 60px;
  min-height: 30px;
}

.cart-name-col {
  min-width: 300px;
  min-height: 30px;

}

.cart-description-col {
  min-width: 100px;
  max-height: 30px;

}

.cart-subtotal {
  font-weight: bold;
}
