<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Online Store</title>
  <base href="..">
  <script src="online-store-ui/app/libs/jquery/dist/jquery.min.js" ></script>
  <script src="online-store-ui/app/libs/bootstrap/dist/js/bootstrap.min.js" ></script>
  <script src="online-store-ui/app/libs/less/dist/less.min.js" ></script>
  <script data-main="js/requireConfig" src="online-store-ui/app/libs/requirejs/require.js" ></script>
  <script src="online-store-ui/app/js/app.js" ></script>
</head>
<body>
<script type="text/template" class="template">
<tr>
    <td><%- rc.name %></td>
</tr>
</script>
<script>
  <% _.each( rc.listItems, function( listItem ){ %>

</script>
<table>
  <tr><th colspan="4">P r o d u c t   L i s t</th> </tr>




</table>


</body>
</html>
