<div class="container">
  <table class="cart cart-table">
    <tr>
      <!--<th class="cart-name-col">Name</th>-->
      <th class="cart-description-col">Description</th>
      <th class="cart-quantity-col">Quantity</th>
      <th class="cart-unit-price-col cart-unit-price-header">Unit Price</th>
      <th class="cart-price-col cart-price-header">Price</th>
    </tr>
    <% _.each(models, function(cartItem ){ %>
    <tr>
      <!--<td class="cart-name-col"><%= cartItem.get("name") %><%= cartItem.get("name") %></td>-->
      <td class="cart-description-col"><%= cartItem.get("name") %> - <%= cartItem.get("description") %></td>
      <td class="cart-quantity-col">
        <input class="cart-item-quantity"
               id="qty_<%= cartItem.get('id') %>"
               min="1"
               type="number"
               value="<%= cartItem.get('quantity') %>"/>
      </td>
      <td id="unit-price_<%= cartItem.get('id') %>" class="cart-unit-price-col"> <%= cartItem.get("price").toFixed(2)
        %>
      </td>
      <td id="price_<%= cartItem.get('id') %>" class="cart-price-col cart-item-price cart-totals-col"> <%=
        (cartItem.get("price") * cartItem.get("quantity")).toFixed(2) %>
      </td>
    </tr>
    <% }); %>
    <tr>
      <td colspan="4">
        <hr width="100%"/>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="cart-subtotal">Subtotal</td>
      <td id="cart-sub-total" class="cart-price-col  cart-item-price"><%= _.reduce(
        _.map(models,
          function(item){
        return item.get("quantity") * item.get("price");
        }),
        function(acc, num){ return acc + num; },
        0).toFixed(2) %></td>
    </tr>
  </table>
</div>
