<div class="row">
  <div class="col-md-3">
    <div class="main-content">
      <a href="#">
        <img class="img-responsive img-product img-hover" src="<%= mainImageLink %>" alt="">
      </a>
      <div class="product-title">
        <span class="product-title"><%= name %></span>
      </div>
      <div class="product-cost-content">
        <h4 class="product-cost-content"> $<%= price.toFixed(2) %></h4>
      </div>
      <div class="addtocart-content">
        <button type="button" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span>Add To Cart</button>
      </div>
    </div>
  </div>
