<div class="product-single">
  <a href="#" style="margin-left: auto;margin-right: auto">
    <img class="img-responsive product-single-image  img-hover" src="<%= mainImageLink %>" alt="">
  </a>
  <div class="product-title">
    <span class="product-title"><%= name %></span>
  </div>
  <div class="product-cost-content">
    <span class="product-cost-content product-price"> $<%= price.toFixed(2) %></span>
  </div>
  <div class="addtocart-content">
    <button type="button" class="btn btn-warning btn-md"><span class="glyphicon glyphicon-shopping-cart"></span>Add To
      Cart
    </button>
  </div>
</div>
